<div class="modal-header">
  <h4 class="modal-title">Add A New Offer</h4>
  <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="type">
    <label ngbButtonLabel class="btn-outline-success">
      <input ngbButton type="radio" value="request"> Request
    </label>
    <label ngbButtonLabel class="btn-outline-success">
      <input ngbButton type="radio" value="offer"> Offer
    </label>
  </div>
  <div class="form-group">
    <label for="userIdInput">User ID</label>
    <input type="text" class="form-control" id="userIdInput" [(ngModel)]="case.publisher_uid" readonly>
  </div>
  <div class="form-group">
    <label for="startInput">Start</label>
    <input type="text" class="form-control" id="startInput" [(ngModel)]="case.start">
  </div>
  <div class="form-group">
    <label for="endInput">End</label>
    <input type="text" class="form-control" id="endInput" [(ngModel)]="case.end">
  </div>
  <div class="form-group">
    <label for="endInput">Price</label>
    <input type="number" class="form-control" id="price" min="0" [(ngModel)]="case.price">
  </div>

  <div class="form-group">
    <label>Pick Date and Time</label>
    <form [formGroup]="form">
      <app-ngb-date-time-picker formControlName="control" [meridian]="true" [hourStep]="1"
                                [minuteStep]="5"></app-ngb-date-time-picker>
    </form>
  </div>

  <label>Choose a Vehicle</label><br>
  <select [(ngModel)]="case.vehicle">
    <option *ngFor="let v of this.vehicleService.vehicles" [ngValue]="v">{{v.name}}</option>
  </select>

  <!--  TODO bei reload kein default wert drin-->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Close
  </button>
  <button type="button" class="btn btn-savemodal" (click)="save()">Submit</button>
</div>
<app-alert></app-alert>
