<div class="modal-header">
  <h4 class="modal-title">Add A New Offer</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="type" >
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="query"> Query
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="offer"> Offer
    </label>
  </div>
  <div class="form-group">
    <label for="userIdInput">User ID</label>
    <input type="text" class="form-control" id="userIdInput" [(ngModel)]="case.publisher_uid" readonly>
  </div>
  <div class="form-group">
    <label for="startInput">Start</label>
    <input type="text" class="form-control" id="startInput" [(ngModel)]="case.start">
  </div>
  <div class="form-group">
    <label for="endInput">End</label>
    <input type="text" class="form-control" id="endInput" [(ngModel)]="case.end">
  </div>
  <div class="form-group">
    <label for="dateOfOffer">Date of Offer</label>
    <div class="input-group">
      <input id="dateOfOffer" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Schließen
  </button>
  <button type="button" class="btn btn-success" (click)="save()">Erstellen</button>
</div>
