<app-header></app-header>

<div class="container-fluid">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">My published Case List</h2>
        <button (click)="create()">Add</button>
      </div>

      <div class="pricing-header mx-auto">

        <div class="table-responsive" >
          <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">User</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let c of this.myCasesP; let i = index;">
              <td>{{c.type}}</td>
              <td>{{c.publisher_uid}}</td>
              <td>{{c.start}}</td>
              <td>{{c.end}}</td>
              <td>{{c.date}}</td>
              <td>{{c.status}}</td>
              <td>
                <button *ngIf="c.status == 'booked'" type="button" class="btn btn-primary" (click)="cancel(c)">Cancel</button>
                <button *ngIf="c.status == 'open'" type="button" class="btn btn-primary" (click)="edit(c)">Edit</button>
                <button *ngIf="c.status == 'open'" type="button" class="btn btn-primary" (click)="delete(c)">Delete</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>


      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">My booked Case List</h2>
      </div>

      <div class="pricing-header mx-auto">

        <div class="table-responsive" >
          <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
            <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">User</th>
              <th scope="col">Start</th>
              <th scope="col">End</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let c of this.myCasesA; let i = index;">
              <td>{{c.type}}</td>
              <td>{{c.publisher_uid}}</td>
              <td>{{c.start}}</td>
              <td>{{c.end}}</td>
              <td>{{c.date}}</td>
              <td>{{c.status}}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="unaccept(c)">Unaccept</button>
              </td>
            </tr>

            </tbody>
          </table>
        </div>

      </div>

    </main>

  </div>
</div>



