<app-header></app-header>

<div class="my-cases">
  <div class="row">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">My published Case List</h2>
        <button type="button" class="btn btn-add-case" (click)="create()">Add</button>
      </div>
      <div class="pricing-header mx-auto">
        <div *ngFor="let c of this.myCasesP; let i = index;">
            <div  [ngClass]="c.type == this.type_offer ? 'case-display case-offer' : 'case-display case-request'">
              <div class="case-start-end">
                <p>{{c.start}}</p>
                <p> to </p>
                <p>{{c.end}}</p>
              </div>
              <div class="case-info">
                <div class="case-date">
                  <p>Date: {{c.dateTime}}</p>
                </div>
                <div class="case-user">User: {{c.publisher_uid}}</div>
                <div class="case-category-status">
                  <span class="btn case-category">{{c.type}}</span>
                  <span class="btn case-status">{{c.status}}</span>
                  <span class="btn case-status">{{c.price}}€</span>
                </div>
              </div>
              <div class="case-action">
                <button *ngIf="c.status == 'booked'" type="button" class="btn btn-warning" (click)="cancel(c)">Cancel</button>
                <button *ngIf="c.status == 'open'" type="button" class="btn btn-edit" (click)="edit(c)">Edit</button>
                <button *ngIf="c.status == 'open'" type="button" class="btn btn-danger" (click)="delete(c)">Delete</button>
              </div>
            </div>
        </div>
      </div>

      <div class="booked-cases">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h2 class="h2">My booked Case List</h2>
        </div>
        <div class="pricing-header mx-auto">
          <div *ngFor="let c of this.myCasesA; let i = index;">
            <div  [ngClass]="this.authService.userData.uid != c.publisher_uid ? 'case-display case-offer' : 'case-display case-request'">
              <div class="case-start-end">
                <p>{{c.start}}</p>
                <p> to </p>
                <p>{{c.end}}</p>
              </div>
              <div class="case-info">
                <div class="case-date">
                  <p>Date: {{c.dateTime}}</p>
                </div>
                <div class="case-user">User: {{c.publisher_uid}}</div>
                <div class="case-category-status">
                  <span class="btn case-category">{{c.type}}</span>
                  <span class="btn case-status">{{c.status}}</span>
                  <span class="btn case-status">{{c.price}}€</span>
                </div>
              </div>
              <div class="case-action">
                <button type="button" class="btn btn-warning" (click)="unaccept(c)">Cancel</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </main>

  </div>
</div>



