<div class="modal-header">
  <h4 class="modal-title">Add Funds</h4>
  <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body">

  <label>Choose an amount to add to your credits</label><br>
  <select [(ngModel)]="this.funds">
    <option *ngFor="let a of amount" [ngValue]="a">{{a}}</option>
  </select>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Close
  </button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
