.case-offer {
  border: 2px solid #005B52;
}

.case-request {
  border: 2px solid #506ae7;
}

.case-display {
  min-height: 100px;
  background: white;
  min-width: 200px;
  margin-top: 1.5em;
  color: #373F68;
  border-radius: 0.8em;
  display: flex;
  flex-flow: column;
  transition: transfrom .2s ease-in;
  padding: 0.5em 1em 0.2em 1em;
}

.user-vehicle-info {
  display: flex;
  flex-flow: row nowrap;
}

.case-type-from {
  flex: 0 0 65%;
  margin-right: 3%;
  margin-left: 2%;
}

.vehicle-info {
  flex: 0 0 30%;
  font-size: 20px;
  background: #f4f4f4;
  border-radius: 0.8em;
  padding: 0.5em;
}

.vehicle-info > p {
  margin-bottom: 5px;
}

.case-type {
  font-size: 30px;
  font-weight: bold;
  margin-right: 3%;
}

.from {
  font-style: italic;
}

.user-name {
  margin-left: 5%;
  font-size: 20px;
  font-style: italic;
}

.case-info {
  display: flex;
  flex-flow: row;
  margin-bottom: 1em;
  margin-top: 0.4em;
}

.case-destination-time {
  flex: 0 0 45%;
  display: flex;
  flex-flow: column;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 0.8em;
}

.destination-start, .destination-end {
  font-size: 15px;
  font-weight: bold;
  margin-right: 5%;

}

span > img {
  margin-left: 7%;
  margin-right: 7%;
}

.case-action {
  display: flex;
  flex: 0 0 55%;
  justify-content: right;
}

.your-case {
  background: #373F68;
  color: white;
}

.others-case {
  background: #005B52;
  color: white;
}

.case-price {
  background: #f2f4ff;
  color: #506ae7;
  font-weight: bold;
}

.case-action > button {
  margin: 1em 0.1em 1em 0.1em;
}

.btn {
  box-shadow: none;
}

.btn-add-case {
  color: #005B52;
  background: white;
  font-weight: bold;
}

.btn-add-case:hover {
  background: #ededed;
}

svg {
  height: 15px;
  font-weight: bold;
  margin-top: -5px;
}

svg.icon-user {
  height: 25px;
  font-weight: bolder;
  margin-top: -7px;
  margin-right: 2%;
}

@media only screen and (max-width: 500px) {
  .case-destination-time {
    flex: 0 0 65%;
  }

  .case-action {
    display: flex;
    flex: 0 0 25%;
    justify-content: right;
    margin-left: 3%;
  }

  .case-type {
    font-size: 20px;
    margin-right: 1%;
  }

  .vehicle-info {
    flex: 0 0 30%;
    font-size: 20px;
    background: #f4f4f4;
    border-radius: 0.8em;
    padding: 0.1em;
  }

  span > img {
    margin-left: 3%;
    margin-right: 3%;
  }

  .case-type-from {
    flex: 0 0 65%;
    display: flex;
    flex-flow: column;
    margin-right: 1%;
    margin-left: 1%;
  }
}
