<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Case List</h2>
  <button (click)="create()">Add</button>
</div>

<div class="pricing-header mx-auto">

  <div class="table-responsive" >
    <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">User</th>
        <th scope="col">Start</th>
        <th scope="col">End</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Accept</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let c of this.cases; let i = index;">
        <td>{{c.type}}</td>
        <td>{{c.publisher_uid}}</td>
        <td>{{c.start}}</td>
        <td>{{c.end}}</td>
        <td>{{c.date}}</td>
        <td>{{c.status}}</td>
        <td>
          <button *ngIf="this.authService.userData.uid != c.publisher_uid" type="button" class="btn btn-primary" (click)="accept(c)">Book</button>
          <button *ngIf="this.authService.userData.uid == c.publisher_uid" type="button" class="btn btn-danger" disabled>Your Own</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
