<!-- Top navigation -->
<app-header></app-header>

<!--Main-->
<div class="inner-adjust">

  <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">User Profile</h1>
  </div>
  <!-- Show user data when logged in -->
  <div class="row" *ngIf="authService.userData as user">
    <div class="col-md-12">
      <div class="media">

        <div class="media-body">
          <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
          <p>User ID: <strong>{{user.uid}}</strong></p>
          <p>Email: <strong>{{user.email}}</strong></p>
          <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
        </div>
      </div>
    </div>
  </div>

</div>
