<!-- Top navigation -->
<app-header></app-header>
<app-alert></app-alert>

<!-- New Main -->
<!-- TODO layout not finished -->
<div class="container-fluid">
  <div class="row justify-content-center p-3">
    <div class="col-12 col-md-4">
      <h3>Your Profile:</h3>
      <img src="favicon.ico" alt="User.photoURL">
      <div id="userProfile">
        <p>Rating</p>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&starf;</span>&starf;</span>
        </ng-template>
        <ngb-rating [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      </div>
      <!-- // TODO-->
      <button class="btn btn-danger" (click)="this.authService.deleteUser()"> DELETE USER</button>
    </div>
    <div class="col-12 col-md-4">
      <div id="userInfo">
        <h3>About you:</h3>
        <p>Firstname: User.first</p>
        <p>Lastname: User.last</p>
        <p>Email: User.email (&check;)</p>
        <p>Birthday: User.birth</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div id="userVehicles">
        <h3>Your Vehicles:</h3>
        <button class="btn btn-danger" (click)="create()">Add Vehicle</button>
        <div *ngFor="let v of this.vehicleService.vehicles">
          <p>{{v.name}} ({{v.type}}): {{v.seats}}, {{v.capacity}}<span><button class="btn btn-success"
                                                                  (click)="edit(v)">Edit</button><button
            class="btn btn-warning" (click)="delete(v)">Del</button></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
