<!-- Top navigation -->
<app-header></app-header>
<app-alert></app-alert>

<!-- New Main -->
<!-- TODO layout not finished -->
<div class="container-fluid">
  <div class="row text-center p-3">
    <div class="col-12 col-lg-4">
      <h3>Your Profile:</h3>
      <div class="img-fluid text-center pt-2 pb-5">
        <img src="http://via.placeholder.com/420x420" alt="User.photoURL">
      </div>
      <div id="userProfile" class="text-center pb-5">
        <h5>Rating</h5>
        <ng-template #t let-fill="fill">
          <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&starf;</span>&starf;</span>
        </ng-template>
        <ngb-rating [(rate)]="this.user.rating" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
      </div>
      <!-- // TODO-->
      <button class="btn btn-success" (click)="this.creditService.addCredit()"> ADD CREDIT</button>
      <button class="btn btn-warning" (click)="this.authService.editUser()"> EDIT USER</button>
      <button class="btn btn-danger" (click)="this.authService.deleteUser()"> DELETE USER</button>
    </div>
    <div class="col-12 col-lg-4">
      <div id="userInfo">
        <h3 class="pb-2">About you:</h3>
        <h5>Hello {{this.user.displayName}}!</h5>
        <p>Firstname: {{this.user.firstname}}</p>
        <p>Lastname: {{this.user.lastname}}</p>
        <p>Email: {{this.user.email}} ({{this.user.emailVerified ? "&check;" : "&cross;"}})</p>
        <p>Birthday: {{this.user.birthday}}</p>
        <p>Credit: {{this.user.credit}} $</p>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div id="userVehicles">
        <h3>Your Vehicles:</h3>
        <button class="btn btn-danger" (click)="create()">Add Vehicle</button>
        <div *ngFor="let v of this.vehicleService.vehicles">
          <p>{{v.name}} ({{v.type}}): {{v.seats}}, {{v.capacity}}<span><button class="btn btn-success"
                                                                  (click)="edit(v)">Edit</button><button
            class="btn btn-warning" (click)="delete(v)">Del</button></span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
