

.star {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}
.full {
  color: #dcb425;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #dcb425;
}
.btn {
  box-shadow: none;
}
.user-vehicle-add-btn button:hover, .btn-edit:hover, .btn-delete:hover{
  background: #ededed;
}


.user-profile-main {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 5% 5% 15% 5%;
}
.user-image {
  flex: 0 0 30%;
  margin-right: 5%;
  border-radius: 4em;
  display: flex;
  flex-flow: column;
  background: #f4f4f4;
  padding: 2%;
  box-shadow:5px 5px #888888;
  max-height: 600px;

}
.user-info {
  flex: 0 0 30%;
  margin-right: 5%;
  background: #f4f4f4;
  padding: 2%;
  border-radius: 3em;
  display: flex;
  flex-flow: column;
  box-shadow:5px 5px #888888;
  max-height: 600px;
}
.user-vehicle {
  flex: 0 0 30%;
  background: #f4f4f4;
  border-radius: 3em;
  padding: 2%;
  box-shadow:5px 5px #888888 ;
}
.main-image{
  margin-bottom: 7%;
}
.main-image > img {
  border-radius: 50%;
}
h1,h3, h5 {
  text-align: center;
}
.choose-profile, .profile-upload {
  margin-bottom: 1em;
}
.btn-upload {
  margin-right: 10%;
}
.btn-add-credit {
  margin-top: 1em;
}
.user-profile-name {
  color: #005B52;
  padding-bottom: 2em;
}
.user-info-details {
  display: flex;
  flex-flow: row;
}
.user-info-details > .hl {
  flex: 0 0 50%;
}
.user-info-action {
  align-self: flex-end;
  margin-top: 10%;
}
.user-info-action > .btn:hover {
  background: #ededed;
}
.user-vehicle-info {
  background: lightgrey;
  margin: 2% 10% 2% 10%;
  justify-content: center;
  border-radius: 1.5em;
}
.user-vehicle-action {
  display: flex;
  align-items: flex-end;
  flex-flow: row;
}
.user-vehicle-name {
  padding-top: 2em;
}
.user-vehicle-description {
  text-align: center;
}
.user-vehicle-action {
  padding-left: 60%;
}
.user-vehicle-add-btn {
  padding-left: 80%;
}
.profile-rating {
  margin-top: 3%;
}
.profile-rating h5 {
  text-align: left;
}

@media only screen and (max-width: 700px) {
  .user-profile-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1% 1% 5% 1%;
    justify-content: space-between;
  }
  .user-image {
    margin-top: 5%;
    flex: 0 0 30%;
    margin-right: 1%;
    border-radius: 1em;
    padding: 1%;

  }
  .user-info {
    margin-top: 5%;
    flex: 0 0 30%;
    margin-right: 1%;
    background: #f4f4f4;
    padding: 1%;
    border-radius: 1em;
    display: flex;
    flex-flow: column;
  }
  .user-vehicle {
    margin-top: 5%;
    background: #f4f4f4;
    border-radius: 1em;
    padding: 1%;
  }

}
