<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-4 col-lg-3">
      <div class="img-fluid pt-5">
        <img src="assets/images/logo.png">
      </div>
      <div class="authBlock pt-5">
        <h3 class="d-flex justify-content-center fw-bold">Sign Up</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Firstname" #firstName required>
        </div>

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Lastname" #lastName required>
        </div>

        <div class="form-group">
          <input type="date" class="form-control" placeholder="Birthday" #birthday required>
        </div>

        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" #userPwd required>
        </div>

        <div class="form-group d-flex justify-content-center">
          <input type="button" class="btn btn-sign-up btn-lg bg-darkgreen text-white" value="Sign Up"
                 (click)="authService.signUp(firstName.value, lastName.value, birthday.value, userEmail.value, userPwd.value)">
        </div>
      </div>
      <div class="redirectToLogin d-flex justify-content-center pb-5 mt-3">
        <span>Already have an account? <a class="redirect sign-in-link fw-bold" routerLink="/sign-in">Log In</a></span>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
