.displayTable {
  margin: 2em 20em 2em 20em;
  color:#373F68 ;
}
.sign-in-nav {
  background:#373F68 ;
  color: white;
}
.link-sign-in {
  color:#373F68 ;
}
.app-name {
  margin-left: 2em;
}
.displayTableCell {
  margin: 5em 5em 5em 5em;
}
.form-group {
  margin-top: 2em;
}
.btn-sign-up {
  background:#373F68;
  color: white;
}
.app-logo {
  max-width: 100%;
  max-height: 500px;
}
.sign-in-link {
  color:#373F68 ;
}
@media only screen and (max-width: 800px) {
  .displayTableCell {
    margin: 5em 5em 5em 5em;
  }
  .displayTable {
    margin: 2em 5em 5em 5em;
  }
}
