.form-group {
  margin-top: 1em;
}

.form-control {
  background-color: #f2f4ff;
}
.bg-darkgreen {
  background: #005B52;
}

.sign-in-link {
  color: black;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
