
.footer-element {
  text-decoration: none;
}

footer {
  background-color:  #005B52 !important;
  margin-top: 2%;

}

li {
  margin-bottom:8%;
}

.footer-git {
  border-top: 5px;
}
.footer-link-element {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


.footer-link-element > a {
  flex: 0 0 45%;
  margin-bottom: 0.8em;
  color: white;
}
.footer-link-element > a:hover{
  color: #373F68;
}
