<div class="modal-header">
  <h4 class="modal-title">Rate your Case</h4>
  <button type="button" class="close btn-close" aria-label="Close" (click)="activeModal.dismiss()">
  </button>
</div>

<div class="modal-body">

  <div class="form-group">
    <ngb-rating id="rating" [formControl]="ctrl" [max]="5">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
    <div class="form-text small">
      <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
      <div *ngIf="ctrl.invalid" class="text-danger">Please rate your case!</div>
    </div>

      <label for="description">Comment</label>
      <textarea id="description" rows="3" cols="60" maxlength="50" [(ngModel)]="case.ratingComment"></textarea>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Close
  </button>
  <button type="button" class="btn btn-success" (click)="save()">Save</button>
</div>
