.star {
  font-size: 2.5rem;
  color: #b0c4de;
}
.filled {
  color: #dcb425;
}

textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-radius: 3px;
  border-color: lightgrey;
  resize: none;
}
